/*------------------------------------------------*/
/*-------------------[FONTS]----------------------*/
/*------------------------------------------------*/

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $roboto-slab;
  color: $dark-brown;
}

h1 {  
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

body {
  color: #000;
  font-family: $roboto;
}

.roboto {
  font-family: $roboto;
}

/*------------------------------------------------*/
/*--------------------[HEADER]--------------------*/
/*------------------------------------------------*/

#wrapper-navbar {
  background-color: $dark-brown;
  #logoLink {
    img {
      width: 50%;
    }
  }
  #main-menu {
    li {
      @include media-breakpoint-up(lg) {
          margin-right: 3rem;    
      } 
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #fff;
      }  
    }
  }
}

/*------------------------------------------------*/
/*--------------------[LINKS]---------------------*/
/*------------------------------------------------*/

a {
  color: $dark-brown;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#main-menu {
  a {
    font-family: $roboto-slab;
    color: $dark-brown;
  }
}

.mobileToggle {
  color: $dark-brown;
}

#logoLink {
  max-width: 75%;
}

/*------------------------------------------------*/
/*-------------------[BUTTONS]--------------------*/
/*------------------------------------------------*/

.btn {
  font-family: $roboto-slab;
  text-transform: uppercase;
  border-radius: 0;
  padding: .5rem 3rem;
  white-space: normal;
  background: $dark-brown;
  color: $light-brown;
  border: 5px solid $light-brown;
  outline: 5px solid $dark-brown;
  transition: all .5s;
  &:hover {
    background-color: $light-brown !important;
    color: $dark-brown;
    }
}

//HOMEPAGE

#homepage {
  #hero {

  }
  .left, .right {
    position: relative;
    flex: 0 0 100%;
      @include media-breakpoint-up(lg) {
        flex: 0 0 50%;
        max-width: 50%;
    }
  }
  #one {
    .right {
      background-color: $light-brown;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(md) {
        text-align: center;
        padding: 2rem;
      }
    }
  }
  #two {
    img {
      @include media-breakpoint-up(lg) {
        max-width: 16.67%;
      }
    }
  }
  #three {
    .left {
      background-color: $light-brown;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(md) {
        order: 1;
        text-align: center;
        padding: 2rem;
      }
    }
  }
  .content-wrapper {
    @include media-breakpoint-up(lg) {
      max-width: 50%;
      text-align: center;  
    }
  }
}

/*------------------------------------------------*/
/*------------------[NINJA FORMS]-----------------*/
/*------------------------------------------------*/

.nf-form-cont {
  label {
    font-family: $roboto;
    font-weight: normal !important;
    color: #707070;
  }
  .ninja-forms-req-symbol, .nf-error-msg {
    color: #707070 !important;
  }
  .nf-error-msg {
    margin-bottom: 25px;
  }
  .nf-response-msg {
      border: solid 1px $dark-brown;
      padding: 10px 25px;
      margin-bottom: 15px;
      border-radius: 5px;
      p:last-of-type {
        margin-bottom: 0;
      }
  }
  input:not([type="button"]), textarea {
    padding: 10px 15px;
    border: solid 1px $dark-brown !important;
    border-radius: 5px !important;

  }
}

/*------------------------------------------------*/
/*--------------------[FOOTER]--------------------*/
/*------------------------------------------------*/

footer {
  background-color: $dark-brown;
  color: #fff;
  a {
    color: #fff;
  }
  .watch-now {
    color: #fff;
    font-weight: 400;
    margin-bottom: .375rem;
  }
}